@import "../../../sass/colors";

.skill {
    background: $white;
    border: 10px solid $dark-blue;
    border-radius: 20px;
    height: 150px;
    line-height: 2rem;
    margin: 10px;
    text-align: center;
    width: 150px;
    
    label {
        color: $dark-blue;
        font-size: 1.5rem;
        font-weight: bold;
    }
}
