@import "../../../sass/colors";

.skill {
    background: $white;
    border: 10px solid $dark-blue;
    border-radius: 20px;
    height: 70vw;
    line-height: 2rem;
    margin: 2.5%;
    max-height: 200px;
    max-width: 200px;
    text-align: center;
    width: 70vw;
    
    
    label {
        color: $dark-blue;
        font-size: 1.5rem;
        font-weight: bold;
    }
}
