@import "../../../sass/colors";

.contact {
    color: $black;
    display: block;
    font-size: 3.5rem;
    transition: .5s;

    &:hover {
        background: $black;
        color: $white;
    }
}
