@import "../../sass/typography";

html, body {
    font-family: $font-family;
    font-size: 100%;
    height: 100%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}
