@import "../../../sass/colors";

.skill-display {
    background: $blue;
    border: 10px solid $dark-blue;
    margin: 0 auto;
    width: 80%;

    h3 {
        color: $white;
        font-size: 3rem;
        font-weight: bold;
        text-align: center;
    }

    .content {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}
